:host {

    #in-title {
        background: url("../../../assets/sia/images/banners/banner_bg.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;

        width: 100%;
        background-color: transparent;
        position: relative;
        display: table;
    }
    #in-title .big-title{
        margin: 55px;
    }
    #in-title .big-title h1{
        font-size: 72px;
        margin:0px;
        padding:0px;
        color: #fff;
        font-family: "ProximaNovaSoft-Regular";
    }
    #in-contact{
        background: #f4f5f7;
        padding: 60px 0px 80px 0px;
    }

    #in-contact .contents{
        width: 68%;
        padding: 40px;
        border: 1px solid #e4e4e4;
        border-radius: 5px;
        background: #fff;
    }
    #in-contact .contents p {
        color: #1c3458;
        font-size: 18px;
        font-family: "ProximaNovaSoft-Bold";
    }
    #in-contact .contents .content-items{
        margin-left: 20px;
    }
    #in-contact .btn-addmore {
        width: 30%;
        margin: 30px;
        font-family: "ProximaNovaSoft-Bold";
    }
    @media (min-width: 1280px) {
        #in-contact .contents .large-1280{
            display: flex !important;
        }
    }
    @media (min-width: 768px) and (max-width: 1280px){
        #in-contact .contents .large-1280{
            display: none !important;
        }
        #in-contact .contents .content-items{
            width: 90%;
        }
        #in-contact .btn-addmore {
            width: 100%;
            margin: 30px 0px;
        }
    }
    @media (max-width: 768px){
        #in-contact .contents .large-1280{
            display: none !important;
        }
        #in-contact .contents .content-items{
            width: 90%;
        }
        #in-contact .btn-addmore {
            width: 100%;
            margin: 25px 0px !important;
        }
        #in-contact .contents{
            width: 90%;
            padding: 10px;
        }
        #in-title .big-title h1{
            font-size: 52px;
        }
        #in-title .big-title{
            margin: 20px;
        }
    }
    #in-contact .contents .abtxt {
        color: #000;
        background-color: #fff;
        border: 1px solid #00010126;
        font-size: 25px;
        border-radius: 5px;
        height: 50px;
        padding: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    #in-contact .contents textarea{
        color: #000;
        background: #f7f7f7;
        border: 2px solid #d7d7d7;
        font-size: 25px;
        border-radius: 5px;
        height: 50px;
        padding: 10px;
        margin-right: 10px;
        width: 100%;
        height: 200px;
        resize: none;
    }

    #in-contact .btn-mcolor-green {
        background: #8ac239;
        color: #fff;
        font-size: 16px;
        padding: 5px 20px 5px 20px;
        margin: 10px 0px 10px 10px;
        font-family: "ProximaNovaSoft-Bold";
    }

    #in-contact .width-full {
        width: 100%;
        margin: 20px 0px 20px 0px;
    }

    #in-contact .chk-know{
        font-size: 13px;
        color: #1c3458;
        font-family: "ProximaNovaSoft-Bold";
    }
    select.abtxt {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: linear-gradient(52deg, transparent 45%, #9E9E9E 57%), linear-gradient(310deg, transparent 65%, #9E9E9E 79%), linear-gradient(to left, #ccc, #ccc) !important;
        background-position: calc(100% - 24px) calc(0.8em + 0px), calc(100% - 19px) calc(0.8em + 0px), calc(6% - -18.5em) 55.5em;
        background-size: 5px 6px, 5px 14px, 5px 0.5em;
        background-repeat: no-repeat;
    }
}

