<div class="page-layout simple">

  <div id="in-title" fxLayout="column" fxLayoutAlign="center center">
      <div class="big-title" fxLayout="column" fxLayout.gt-md="row">
          <div fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
              <h1>Procedure History</h1>
          </div>
      </div>
  </div>
  <div id="in-contact" fxLayout="column" fxLayoutAlign="center center">
      <div class="contents" fxLayout="column" fxLayoutAlign="center left">
        <form [formGroup]="procedureForm">
            <div formArrayName="procedures">
                <div *ngFor="let item of procedureData.controls; let pointIndex=index" [formGroupName]="pointIndex" fxLayout="column" fxLayout.gt-md="row">
                    <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                        <p>PROCEDURE</p>
                        <input formControlName="procedure" class="abtxt" type="text"  placeholder="Enter text" />
                    </div>
                    <div class="content-items pos-rel" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                        <p>PROCEDURE DATE</p>
                        <input class="abtxt hidden" [owlDateTime]="dt1" formControlName="date">
                        <input class="abtxt hidden" [owlDateTime]="dt2" formControlName="date">
                        <input class="abtxt" disabled="disabled" value="{{item.controls.date.value | date:'short'}}">
                        <span class="icon-item">
                            <mat-icon class="trigger" [owlDateTimeTrigger]="dt1" matSuffix>date_range</mat-icon>
                            <owl-date-time [pickerType]="'calendar'" #dt1 ></owl-date-time>
                        </span>
                        <span class="icon-item-timer">
                            <mat-icon class="trigger" [owlDateTimeTrigger]="dt2" matSuffix>access_time</mat-icon>
                            <owl-date-time  fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" [pickerType]="'timer'" #dt2></owl-date-time>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        {{procedureData.value | json}}
        <div fxLayout="column" fxLayout.gt-md="row"  fxLayoutAlign="center center">
            <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                <button mat-raised-button (click)="addMore()" class="btn-mcolor-green btn-addmore">ADD MORE</button>
            </div>
        </div>
        <div fxLayout="column" fxLayout.gt-md="row">
            <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                <mat-checkbox class="chk-know" >NO KNOWN PROCEDURES</mat-checkbox>
            </div>
        </div>
        <div fxLayout="column" fxLayout.gt-md="row"  fxLayoutAlign="center center">
            <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                <button mat-raised-button class="btn-mcolor-green width-full">DOCUMENT PROCEDURE HISTORY</button>
            </div>
        </div>
      </div>
  </div>
</div>
