<div class="page-layout simple">

    <div id="in-contact" fxLayout="column" fxLayoutAlign="center center">
        <div class="contents" fxLayout="column" fxLayoutAlign="center left">
            <div fxLayout="column" fxLayout.gt-md="row">
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                    <h1>Sign Up</h1>
                </div>
            </div>
            <div fxLayout="column" fxLayout.gt-md="row">
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                    <p>NAME</p>
                    <input class="abtxt" type="text" />
                </div>
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                    <p>EMAIL</p>
                    <input class="abtxt" type="text" />
                </div>
            </div>
            <div class="pdwinput-div" fxLayout="column" fxLayout.gt-md="row">
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                    <p>PASSWORD</p>
                    <input class="abtxt" type="password" />
                </div>
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                    <p>CONFIRM PASSWORD</p>
                    <input class="abtxt" type="password" />
                </div>
            </div>
            <div class="chk-div" fxLayout="column" fxLayout.gt-md="row">
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                    <mat-checkbox class="chk-know" ></mat-checkbox>
                    <h6> I certify that I am 18 years of age or older and I accept all <u><a routerLink="/legalnotices">Health Port Legal Notices</a></u> including <u><a routerLink="/legalnotices/privacy_policy">Privacy Policy</a></u>, <u><a routerLink="/legalnotices/terms_service">Terms of Service</a></u>, and <u><a routerLink="/legalnotices/terms_use">Terms of Use</a></u></h6>
                </div>
            </div>
            <div class="submitbtn-div" fxLayout="column" fxLayout.gt-md="row"  fxLayoutAlign="center center">
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                    <button mat-raised-button class="btn-mcolor-green width-full">CREATE ACCOUNT  <mat-icon class="secondary-text s-16 mat-icon material-icons" style="color: #fff;">arrow_forward</mat-icon></button>
                </div>
            </div>
            <div class="login-div" fxLayout="column" fxLayout.gt-md="row">
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                    <h5>Already have an account? <a routerLink="/login">Login</a></h5>
                </div>
            </div>
        </div>
    </div>
    
</div>
